################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
*.vsp
*.vspx
*.vspscc
*.vssscc
*.suo
*.user
bin
obj
packages